.Display {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  border-radius: 20px;
  padding: 20px 30px;
}

.count {
  font-size: 70px;
  color: #fff;
}

.text {
  font-size: 18px;
}

.error {
  color: red;
  font-weight: bold;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 24px;
  color: #fff;
}
