.Dashboard {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background: grey;
  border-radius: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button {
  font-size: 30px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  background: #fff;
  padding: 10px 25px;
  cursor: pointer;
}

.button:hover {
  background: #dfdfdf;
}

.button:disabled {
  cursor: no-drop;
  outline: 1px solid #fff;
}

.disabled, .disabled:hover {
  background: grey;
  outline: 1px solid #fff;
  color: #adadad;
}
