.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94%;
  height: 55%;
  background: #79e0f6;
  border-radius: 10px;
  padding: 0 10px;
}

.row {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.row:last-child {
  margin: 0;
}

.label {
  font-size: 22px;
}

.input {
  display: flex;
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 22px;
  outline: none;
  border: none;
}

.num {
  font-size: 64px;
  font-weight: bold;
  color: #6d6c6c;
}

.text {
	font-size: 18px;
}

.maxValue {
  color: red;
  font-size: 80px;
}

.inputError {
	outline: 2px solid red;
	background: rgba(255, 0, 0, 0.62);
}

.errorText {
	color: red;
}
